{% extends "app/base.html" %}
{% load static %}
{% block content %}
<div class="main">
    <img src="{% static 'users/logo3.jpg' %}" style="display:block; margin-left:auto; margin-right:auto; width:180px; height:180px;">
    <h2 style="font-family:helvetica; color:#344960; text-align:center;"><strong>The Importance of You</strong></h2>
    <p style="display:block; width:50%; font-family:tahoma; margin-left:auto; margin-right:auto; color:#344960; text-align: justify;">
        TIOU is an online diary created by Vania Natalie, a computer science student,
        with the goal of helping people who are struggling with themselves or in life.
        Sometimes, it is hard to open up about problems we have in our lives
        and it could potentially lead to dangerous thoughts.
        TIOU is meant to be a safe place for all thoughts, good and bad alike,
        which hopefully helps a person going through a struggle.
        We hope you find TIOU useful and enjoyable to use.
        <br>
        <br>
        <strong>Contacts</strong>
        <br>
        Email: vanianatalie2000@gmail.com
        <br>
        Instagram: @vaniaanatalie
    </p>
</div>
{% endblock content %}